/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../../../libs/material/array/array-theme' as array;
@use '../../../libs/material/expansion/expansion-theme' as expansion;

// Define a theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

@include array.theme($theme);
@include expansion.theme($theme);

.metad-formly__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.metad-formly__col {
  padding-right: 1rem;
  & > formly-wrapper-mat-form-field {
    flex: 1;
    max-width: 100%;
  }
}

.metad-formly__col.col-12 {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
}
.metad-formly__col.col-9 {
  display: flex;
  flex: 0 0 75%;
  max-width: 75%;
}
.metad-formly__col.col-8 {
  display: flex;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}
.metad-formly__col.col-6 {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
}
.metad-formly__col.col-4 {
  display: flex;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.metad-formly__col.col-3 {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
}
