/* You can add global styles to this file, and also import other style files */
.metad-formly-array .metad-formly__array-row:hover {
  border-color: rgba(0, 0, 0, 0.12);
}
.metad-formly-array .metad-formly-cdk__drag-list.empty {
  border: 1px dashed rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
/* metad-formly-accordion__drag */
.metad-formly-cdk__drag-list.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.metad-formly-cdk__drag-placeholder {
  background: rgba(0, 0, 0, 0.04);
  border: dotted 3px #3f51b5;
}
.metad-formly-expansion__panel-row.removeable {
  padding: 5px;
  border-radius: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.04);
}
.metad-formly__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.metad-formly__col {
  padding-right: 1rem;
}
.metad-formly__col > formly-wrapper-mat-form-field {
  flex: 1;
  max-width: 100%;
}
.metad-formly__col.col-12 {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
}
.metad-formly__col.col-9 {
  display: flex;
  flex: 0 0 75%;
  max-width: 75%;
}
.metad-formly__col.col-8 {
  display: flex;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}
.metad-formly__col.col-6 {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
}
.metad-formly__col.col-4 {
  display: flex;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.metad-formly__col.col-3 {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
}
